<jfudali-section-title class="flex-1" title="Dodaj wyzwanie">
  <button
    start
    (click)="submit()"
    [loading]="status() === 'loading'"
    [disabled]="form.invalid"
    pButton
    severity="success"
    label="Dodaj"></button>
</jfudali-section-title>
<div end class="w-full flex justify-content-end align-items-center gap-1">
  <span class="inline-block">Przeciwnik?</span>
  <p-toggleButton
    onLabel="Tak"
    offLabel="Nie"
    [(ngModel)]="addEnemy"
    (ngModelChange)="toggleEnemy()"></p-toggleButton>
</div>
<jfudali-encounter-form [form]="form" [addEnemy]="addEnemy" />
