<div class="flex flex-column gap-1">
    <p>{{effect.text}}</p>
    <div class="flex justify-content-center gap-1">
        @if(effect.goldAmount){
            <jfudali-statistic-effect type="gold"  [value]="effect.goldAmount"/>
        }
        @if(effect.healthAmount){
            <jfudali-statistic-effect  type="health" [value]="effect.healthAmount"/>
        }
    </div>
    <button pButton label="Następne wyzwanie" severity="info" [loading]="transactionStatus() === 'loading'" (click)="nextEncounter()"></button>
</div>