<p-buttonGroup class="hidden md:block">
    @if(isLoggedIn()){
    @for(nav of navigationsList().slice(0,-1); track nav){
    <p-button size="small" [routerLink]="nav.routerLink" rounded [label]="nav.label"></p-button>
    }
    <p-button class="hidden md:inline" size="small" (onClick)="signOut()" rounded [label]="'Wyloguj'"></p-button>
    }
    @else {
    @for(nav of navigationsList(); track nav){
    <p-button size="small" [routerLink]="nav.routerLink" rounded [label]="nav.label"></p-button>
    }
    }
</p-buttonGroup>
<p-button (click)="menu.toggle($event)" class="block md:hidden" rounded text="true" icon="pi pi-bars"></p-button>
<p-menu #menu [model]="navigationsList()" [popup]="true"></p-menu>