<jfudali-section-title title="Rynek" />
<div class="px-2 md:px-0 w-full md:w-8 lg:w-6 mx-auto">
  <p-tabView>
    <p-tabPanel header="Kup">
      <ng-container
        *ngTemplateOutlet="
          itemsView;
          context: {
            mode: 'buy',
            label: 'Kup',
            items: itemsToBuy,
          }
        "></ng-container>
    </p-tabPanel>
    <p-tabPanel header="Sprzedaj">
      <ng-container
        *ngTemplateOutlet="
          itemsView;
          context: {
            mode: 'sell',
            label: 'Sprzedaj',
            items: ownedItems,
          }
        "></ng-container>
    </p-tabPanel>
  </p-tabView>
  <ng-template #itemsView let-mode="mode" let-label="label" let-items="items">
    <p-dataView layout="list" [lazy]="true" [value]="items()">
      <ng-template pTemplate="list">
        <div
          class="grid grid-nogutter align-content-start overflow-y-auto"
          [ngClass]="items().length > 0 ? 'h-24rem md:h-30rem' : ''">
          @for (item of items(); track i; let i = $index) {
          <div class="col-12" [class.border-top-1]="i !== 0">
            <jfudali-item-in-shop
              [balance]="balance()"
              [userAddress]="userAddress()"
              [itemsToBuy]="itemsToBuy()"
              [mode]="mode"
              [item]="item"
              [actionLabel]="label"
              (onAction)="performAction(mode, $event)" />
          </div>
          }
        </div>
      </ng-template>
      <ng-template pTemplate="empty">
        <div class="h-24rem md:h-30rem">
          <span class="text-xl text-center inline-block w-full"
            >Brak przedmiotów</span
          >
        </div>
      </ng-template>
    </p-dataView>
  </ng-template>
</div>
