<div class="grid grid-nogutter gap-2 p-3 justify-content-center align-items-stretch">
    <jfudali-player-character class="col-12 md:col-8" [playerCharacter]="playerCharacter()!" />
    <jfudali-items-slots #slots class="col-12 md:col-8 lg:col-4" (replaceOnDrop)="replaceItem($event)"
        (equipOnDrop)="equip()" (onCmUnequip)="equipment.drop()" [(draggedItem)]="draggedItem"
        [avaliableItems]="avaliableItems()" [equippedItems]="equippedItems()" [status]="status()" />
    <jfudali-equipment #equipment class="col-12 md:col-8 lg:col-4" (unequipOnDrop)="unequip()"
        (onCmEquipItem)="slots.drop()" [(draggedItem)]="draggedItem" [avaliableItems]="avaliableItems()"
        [equippedItems]="equippedItems()" [status]="status()" [orientation]="equipmentOrientation" />
</div>
<!-- <div [ngClass]="equipmentOrientation == 'vertical' ? '' : 'flex-column'" class="flex gap-2 p-3 justify-content-center">
    <jfudali-player-character class="w-12 lg:w-6" [playerCharacter]="playerCharacter()!" />
    <jfudali-items-slots #slots class="w-12 lg:w-6" (replaceOnDrop)="replaceItem($event)" (equipOnDrop)="equip()"
        (onCmUnequip)="equipment.drop()" [(draggedItem)]="draggedItem" [avaliableItems]="avaliableItems()"
        [equippedItems]="equippedItems()" [status]="status()" />
    <jfudali-equipment #equipment class="w-12 lg:w-6" (unequipOnDrop)="unequip()" (onCmEquipItem)="slots.drop()"
        [(draggedItem)]="draggedItem" [avaliableItems]="avaliableItems()" [equippedItems]="equippedItems()"
        [status]="status()" [orientation]="equipmentOrientation" />
</div> -->