<div class="flex-1 flex flex-column">
  <jfudali-header
    [(sidebarVisible)]="sidebarVisible"
    [navigationsList]="navigationsList()"
    (onDisconnectWallet)="disconnectWallet()"
    (onConnectMetamask)="connect()"
    (onSignOut)="signOut()"></jfudali-header>
  <div class="flex-1 overflow-y-auto p-2">
    <router-outlet></router-outlet>
  </div>
  <jfudali-footer></jfudali-footer>
</div>
<p-sidebar #sidebar [(visible)]="sidebarVisible" position="right">
  <p-menu
    [model]="navigationsList()"
    styleClass="w-full"
    (click)="sidebar.close($event)" />
</p-sidebar>
<p-toast position="bottom-center"></p-toast>
@if (showLoader()) {
<div
  class="loader h-screen z-4 fixed w-full flex justify-content-center align-items-center">
  <p-progressSpinner />
</div>
}
