<div class="h-screen flex flex-column verflow-y-auto">
  <jfudali-header
    [(sidebarVisible)]="sidebarVisible"
    [navigationsList]="navigationsList()"
    [walletData]="walletDataState"
    (onDisconnectWallet)="disconnectWallet()"
    (onConnectMetamask)="connect$.next()"
    (onSignOut)="signOut()"
    class="z-5 sticky top-0"></jfudali-header>
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
  <jfudali-footer class=""></jfudali-footer>
</div>
<p-sidebar #sidebar [(visible)]="sidebarVisible" position="right">
  <p-menu
    [model]="navigationsList()"
    styleClass="w-full"
    (click)="sidebar.close($event)" />
</p-sidebar>
<p-toast position="bottom-center"></p-toast>
