<form [formGroup]="form()" class="relative flex flex-column md:flex-row gap-2">
  <div class="w-12 md:w-6">
    <jfudali-sub-section-title title="Szczegóły" />
    <div class="field">
      <label for="title"> Tytuł </label>
      <input pInputText type="text" class="w-full" formControlName="title" />
      @if(title.hasError('required') && (title.dirty || title.touched)){
      <small class="p-error inline-block w-full" severity="error"
        >Pole jest wymagane</small
      >
      }
    </div>
    <div class="field">
      <label for="description"> Opis </label>
      <textarea
        pInputTextarea
        [autoResize]="true"
        class="w-full"
        formControlName="description"
        rows="10"></textarea>
      @if(description.hasError('required')&& (description.dirty ||
      description.touched)){
      <small class="p-error inline-block w-full" severity="error"
        >Pole jest wymagane</small
      >
      }
    </div>
    <div class="field">
      <label for="difficulty"> Trudność </label>
      <p-inputNumber
        min="1"
        step="1"
        class="w-full"
        styleClass="w-full"
        formControlName="difficulty" />
      @if(difficulty.invalid && (difficulty.dirty || difficulty.touched) ){
      @if(difficulty.hasError('required') ){
      <small class="p-error inline-block w-full" severity="error"
        >Pole jest wymagane</small
      >

      } @else if (difficulty.hasError('min')) {
      <small class="p-error inline-block w-full" severity="error"
        >Min. wartość to 1</small
      >

      } @else {
      <small class="p-error inline-block w-full" severity="error"
        >Max. wartość to 20</small
      >
      } }
    </div>
  </div>
  @if (addEnemy()) {
  <div class="flex flex-column w-12 md:w-6">
    <jfudali-sub-section-title title="Przeciwnik" />
    <div class="field">
      <label for="enemy">Wybierz przeciwnika</label>
      <p-dropdown
        formControlName="enemy"
        placeholder="Wybierz przeciwnika"
        [showClear]="true"
        [options]="enemies()"
        emptyMessage="Brak przeciwników"
        [loading]="loading()"
        class="w-full"
        styleClass="w-full"
        [virtualScroll]="true"
        [virtualScrollItemSize]="38"
        [virtualScrollOptions]="options()"
        id="enemy">
        <ng-template pTemplate="selectedItem">
          @if(enemy && enemy.value){
          <div class="flex justify-content-between align-items-center">
            <div class="flex gap-1 align-items-center">
              <p-avatar [image]="enemy.value.image" />
              <span>{{ enemy.value.name }}</span>
            </div>
            <span class="text-sm">Poziom: {{ enemy.value.level }}</span>
          </div>

          }
        </ng-template>
        <ng-template pTemplate="item" let-enemy>
          <div class="flex justify-content-between align-items-center">
            <div class="flex gap-1 align-items-center">
              <p-avatar [image]="enemy.image" />
              <span>{{ enemy.name }}</span>
            </div>
            <span class="text-sm">Poziom: {{ enemy.level }}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  }@else {
  <jfudali-decisions-form
    [formArray]="decisions"
    formArrayName="decisions"
    class="w-12 md:w-6" />
  }
</form>
