<div
  class="flex flex-column gap-1 border-1 border-surface border-round surface-100 p-2">
  <div class="relative">
    <div class="absolute top-0 left-0 p-2 z-3">
      <p-tag>Dostępne: {{ availablePacks() }}</p-tag>
    </div>
    <div class="img-container relative h-12rem w-full overflow-hidden">
      <img class="absolute w-full h-full" [src]="item()?.image" alt="" />
    </div>
  </div>
  <p>
    {{ item()?.description }}
  </p>
  <div>
    <button
      class="w-full"
      [disabled]="availablePacks() === '0' || isActive() === false"
      (click)="onButtonClick.emit()"
      pButton
      [label]="buttonLabel()"></button>
  </div>
</div>
