<p-buttonGroup class="hidden md:block">
    @for(nav of navigationsList(); track nav){
    <p-button size="small" [routerLink]="nav.routerLink" rounded [label]="nav.label"></p-button>
    }
    @if(isLoggedIn()){
    <p-button (click)="signOut()" size="small" rounded label="Wyloguj się"></p-button>
    }
</p-buttonGroup>
<p-button (click)="menu.toggle($event)" class="block md:hidden" rounded text="true" icon="pi pi-bars"></p-button>
<p-menu #menu [model]="navigationsList()" [popup]="true"></p-menu>