<jfudali-section-title title="Moje skrzynie">
  <button
    start
    pButton
    size="small"
    [routerLink]="['../']"
    label="Powrót"></button>
</jfudali-section-title>
<p-dataView
  [value]="userLootboxes()"
  layout="grid"
  class="block mx-auto w-full md:w-8">
  <ng-template pTemplate="grid" let-lootboxes>
    <div
      class="grid grid-nogutter overflow-y-auto"
      [ngStyle]="{ height: lootboxes.length > 0 ? '70vh' : '0' }">
      @for (lootbox of lootboxes; track lootbox) {
      <div class="col-12 md:col-6 p-2">
        <jfudali-lootbox-card
          [item]="lootbox.metadata"
          [availablePacks]="lootbox.quantityOwned"
          (onButtonClick)="openLootbox(lootbox.id)"
          buttonLabel="Otwórz" />
      </div>
      }
    </div>
  </ng-template>
  <ng-template pTemplate="empty">
    <div [style]="{ height: '55vh' }">
      <span class="inline-block w-full text-center">{{
        texts.PACKS_LIST_EMPTY
      }}</span>
    </div>
  </ng-template>
</p-dataView>
