<p-card styleClass="h-full" header="Założone przedmioty">
    @if(status() == 'loading'){
    <div class="flex justify-content-center">
        <p-progressSpinner strokeWidth="8"></p-progressSpinner>
    </div>
    }
    @else {
    <div pDroppable (onDrop)="drop()" class="grid grid-nogutter w-full">
        <div class="relative col-6  p-2">
            <div class=" flex justify-content-center align-items-center shadow-3 surface-50 h-8rem">
                <span>Głowa</span>
            </div>
            @if(headItem()){
            <jfudali-item class="z-2 absolute top-0 -left- w-full h-full" pDraggable
                (contextmenu)="onContextMenu($event, headItem())" (onDragStart)="onDragStart(headItem()!)"
                (onDragEnd)="onDragEnd()" [item]="headItem()!" />
            }
        </div>
        <div class="relative col-6  p-2">
            <div class=" flex justify-content-center align-items-center shadow-3 surface-50 h-8rem">
                <span>Klatka</span>
            </div>
            @if(chestItem()){
            <jfudali-item class="z-2 absolute top-0 -left- w-full h-full" pDraggable
                (contextmenu)="onContextMenu($event, chestItem())" (onDragStart)="onDragStart(chestItem()!)"
                (onDragEnd)="onDragEnd()" [item]="chestItem()!" />
            }
        </div>
        <div class="relative col-6  p-2">
            <div class=" flex justify-content-center align-items-center shadow-3 surface-50 h-8rem">
                <span>Ręce</span>
            </div>
            @if(armsItem()){
            <jfudali-item class="z-2 absolute top-0 -left- w-full h-full" pDraggable
                (contextmenu)="onContextMenu($event, armsItem())" (onDragStart)="onDragStart(armsItem()!)"
                (onDragEnd)="onDragEnd()" [item]="armsItem()!" />
            }
        </div>
        <div class="relative col-6  p-2">
            <div class=" flex justify-content-center align-items-center shadow-3 surface-50 h-8rem">
                <span>Nogi</span>

            </div>
            @if(legsItem()){
            <jfudali-item class="z-2 absolute top-0 -left- w-full h-full" pDraggable
                (contextmenu)="onContextMenu($event, legsItem())" (onDragStart)="onDragStart(legsItem()!)"
                (onDragEnd)="onDragEnd()" [item]="legsItem()!" />
            }
        </div>
        <div class="relative col-8 col-offset-2 -offset-0  p-2">
            <div class=" flex justify-content-center align-items-center shadow-3 surface-50 h-8rem">
                <span>Broń</span>
            </div>
            @if(weapon()){
            <jfudali-item class="z-2 absolute top-0 -left- w-full h-full" pDraggable
                (contextmenu)="onContextMenu($event, weapon())" (onDragStart)="onDragStart(weapon()!)"
                (onDragEnd)="onDragEnd()" [item]="weapon()!" />
            }
        </div>
    </div>
    }
</p-card>
<p-contextMenu #cm [model]="actions" (onHide)="onHide()" />